<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">LogoHere</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col"><p>Current date/week data here</p></div>        
      </div>
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col">
              <div class="card">
                <img class="card-img-top" src="profilePic.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-text">257 pts</h4>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-light">Chore 1</li>
                  <li class="list-group-item bg-light">Chore 2</li>
                  <li class="list-group-item bg-light">Chore 3</li>
               </ul>
                <div class="card-body">
                   <a href="#" class="card-link text-success">Card link</a>
                  <a href="#" class="card-link text-success">Another link</a>
                 </div>
               </div>
             </div>
           </div>          
         </div>
         <div class="col bg-secondary">
           <div class="row">
             <div class="col"><h5>Side Bar Here For Voting and other shenanigans</h5></div>
           </div>
         </div>
       </div>
     </div><!-- /.container -->