body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  padding-bottom: 20px;
  background-color: #537895;  
}

.container {
  font-size: 1.6em;
  height: 2000;
}

#datepicker {
  font-size: 90%;
  border-radius: 5px;
  margin-top: 2px;
  
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.action-column-remove {
  cursor: pointer;
  padding: 5px;
  position: relative;
  top: -5px;
  border-radius: 2px;
  background-color: #E4827D;
  color: #FFF;
}

.action-column-remove:hover {
  background-color: #F9DDE0;
}

.photo img {
  width: 80px;
  max-width: none;
  margin-top: -5px;
  margin-left: -10px;
}

.id-column-cls .fancy-grid-cell-inner {
  margin-top: 30px;
  margin-left: 14px;
  font-size: 14px;
}

.id-column-cls .fancy-grid-cell {
  border-right: 1px solid rgb(211, 219, 225) !important;
  background-color: rgb(240, 242, 244);
}
#container {
  text-align: center; 
  /*float: right;  */
  float: none;
}
#footer {
  text-align: center;
  font-size: 24px;
  clear:both;
  padding-top: 2%;
}
.selectpicker {
  font-size: 14px; 
  border-radius: 1px
}