body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.action-column-remove {
  cursor: pointer;
  padding: 5px;
  position: relative;
  top: -5px;
  border-radius: 2px;
  background-color: #E4827D;
  color: #FFF;
}

.action-column-remove:hover {
  background-color: #F9DDE0;
}